* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/*
===============================
iconButton effect
===============================
*/
.icon-button:hover {
  transition: all 0.5s;
}

.icon-button:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
}

/*
===============================
todo-card effect
===============================
*/
.card-body {
  transition: all 0.5s !important;
}

.card-body:hover {
  padding: 10px 0px;
}







.App {
  text-align: center;
}



body {
  background-image: linear-gradient(90deg, #0800249e 0%, #090979f5 35%, #00d4ff91 100%)
}

.css-1lt5qva-MuiCardContent-root:last-child {
  padding: 16px !important;
}

@media(max-width:300px) {
  .icon-button {
    width: 30px;
    height: 30px;
  }

  h6 {
    font-size: 0.9rem !important;
    margin-right: 20px !important;
  }


  .css-1edfbbl-MuiGrid2-root {
    padding: 10 !important;

  }

  .buttons {
    gap: 4px !important;
  }

  .delete {
    margin-left: 15px !important;
  }

  .css-46bh2p-MuiCardContent-root:last-child {
    padding-left: 0;
    padding-right: 0;
  }


  .css-1edfbbl-MuiGrid2-root {
    width: 61% !important;
  }


  .css-1qwf2xz-MuiGrid2-root {
    align-items: center;
  }

  .css-1edfbbl-MuiGrid2-root {

    padding: 8px 0 !important;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 84% !important;
    margin-right: 20px !important;
  }

  .add-btn {
    width: 60px !important;
    height: 60px !important;
  }
}


@media (min-width:301px) and (max-width:400px) {
  .icon-button {
    width: 35px;
    height: 35px;
  }

  .delete {
    margin-left: 0 !important
  }

  h6 {
    font-size: 0.9rem !important;
  }


  .css-1edfbbl-MuiGrid2-root {
    padding: 10 !important;

  }

  .buttons {
    position: relative;
    left: 18px;
    gap: 6px;
  }

  .css-x3vexg-MuiGrid2-root {
    margin-left: 0 !important;
  }


  .css-46bh2p-MuiCardContent-root:last-child {
    padding-left: 0;
    padding-right: 0;
  }


  .css-1edfbbl-MuiGrid2-root {
    width: 61% !important;
  }


  .css-1qwf2xz-MuiGrid2-root {
    align-items: center;
  }

  .css-1edfbbl-MuiGrid2-root {

    padding: 8px 0 !important;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 84% !important;
    margin-right: 20px !important;
  }

  .add-btn {
    width: 60px !important;
    height: 60px !important;
  }

  .css-11nsb57-MuiGrid-root>.MuiGrid-item {
    padding-left: 0px !important
  }
}



@media (min-width:401px) and (max-width:600px) {
  .icon-button {
    width: 37px;
    height: 37px;
  }

  h6 {
    font-size: 0.9rem !important;
  }


  .css-1edfbbl-MuiGrid2-root {
    padding: 10 !important;

  }

  .buttons {
    gap: 6px !important;
  }

  /* .delete {
    margin-left: -20px !important;
  } */

  .css-46bh2p-MuiCardContent-root:last-child {
    padding-left: 0;
    padding-right: 0;
  }


  .css-1edfbbl-MuiGrid2-root {
    width: 61% !important;
  }


  .css-1qwf2xz-MuiGrid2-root {
    align-items: center;
  }

  .css-1edfbbl-MuiGrid2-root {

    padding: 8px 0 !important;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 84% !important;
    margin-right: 20px !important;
  }

  .add-btn {
    width: 60px !important;
    height: 60px !important;
  }

  .buttons {
    padding-left: 50px !important;

  }
}

@media (max-width:300px) {

  .title,
  .details {
    margin-right: 0 !important;
  }
}



/* تخصيص شكل شريط التمرير */
::-webkit-scrollbar {
  width: 8px;
  /* عرض شريط التمرير */
}

/* تخصيص لون الخلفية لشريط التمرير */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* تخصيص لون المقبض (المؤشر المتحرك) */
::-webkit-scrollbar-thumb {
  background: #39377A;
  border-radius: 10px;
}

/* تغيير لون المقبض عند تمرير الماوس فوقه */
::-webkit-scrollbar-thumb:hover {
  background: #bf2be2;
}